<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="path" value="C:\Users\Paweł Dela\source\repos\PajacykRandomizer\test-output.txt"/>
      <add key="url" value="https://www.pajacyk.pl"/>
      <add key="mean" value="20000"/>
      <add key="stddev" value="0"/>
    </appSettings>
</configuration>